<template>
    <select v-model="selected">
        <option v-for="item in options" :value="item.slug">{{ item.name }}</option>
    </select>
</template>
<script>
    let axios = require('axios');
    axios.defaults.xsrfCookieName = 'csrftoken';
    axios.defaults.xsrfHeaderName = 'X-CSRFToken';
    export default {
        name: 'deliverytype',
        components: {},
        props: [],
        data: function () {
            return {
                'selected':'',
                'options':[]
            }
        },
        methods: {},
        mounted() {
            let elem = this;
            axios.get('/api/types').then(function(resp){
                console.log(resp.data);
                elem.options = resp.data;
            }, function(error){
                console.log(error);
            })
        },
        watch:{
            selected:function(newVal, oldVal){
                this.$emit('selected', newVal);
            }
        }
    }
</script>