<template>
    <div class="slotrow" v-bind:class="freeclass" v-on:click="sendRequest">
        {{ cell.slot.title }} - {{ available }}
    </div>
</template>
<script>
    export default {
        name: 'slotcell',
        components: {},
        props: ['cell',],
        data: function () {
            return {}
        },
        methods: {
            sendRequest: function(){
                let token = undefined;
                if(this.cell.taken === false){
                    token = true;
                }else if (this.cell.taken === true){
                    token = false;
                }
                this.cell.taken = token;
                this.$emit('slottoggle', this.cell);
            }
        },
        computed:{
            freeclass: function(){
                return {
                    'free': this.cell.taken === false,
                    'taken': this.cell.taken === true,
                    '': this.cell.taken ==- undefined
                }
            },
            available: function(){
                if (!this.cell.taken){
                    return 'Available';
                }else{
                    return 'Taken';
                }

            }
        }
    }
</script>