<template>
    <div class="slotcol_wrapper">

            <div class="slotcol" v-for="(value, title) in days" v-bind:key="title">
                <h3>{{ title }}</h3>
                <div class="slotrow" v-if="value.length < slotlength">&nbsp;</div>
                <slotcell v-bind:cell="subval" v-on:slottoggle="toggleSlot" v-for="(subval, subkey) in value" ></slotcell>

            </div>
    </div>

</template>
<script>
    import slotcell from './slotcell';
    export default {
        name: 'slotschart',
        components: {
            slotcell
        },
        props: ['slots',],
        data: function () {
            return {
                'days':{},
                'slotlength':0
            }
        },
        methods: {
            organise: function(rows, element){
                let last = element.length - 1;
                return rows.reduce ( (res, obj) => {
                    element.reduce((res, grp, i) =>
                        res[obj[grp]] || (res[obj[grp]] = i == last ? [] : {}), res).push(obj);
                    return res;
                }, {});
            },
            toggleSlot: function(event){
                this.$emit('slotclick', event);
            }
        },
        watch: {
            slots: function(newVal, oldVal){
                let elem = this;
                let organised_data = this.organise(newVal, ['date']);
                console.log(organised_data);
                elem.days = organised_data;
                for( var item in organised_data){
                    if (elem.slotlength < organised_data[item].length){
                        elem.slotlength = organised_data[item].length;
                    }
                }
            }
        }
    }
</script>