.movement_btn{
  position: absolute;
  width: 95px;
  height: 200px;
  display: block;
  clear: left;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 1;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;


  &.prev{
    background-image: url("../assets/chevron.svg");
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  &.next{
    background-image: url("../assets/chevron.svg");
  }

  &:hover{
    opacity: 0.5;
    -webkit-transition: opacity 2s;
    transition: opacity 2s;
  }
}