.slotsection{
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;


  div{
    display: block;
    position: initial;
  }
}