.slotcol_wrapper{
  display:flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  flex-direction: row;

  .slotcol{
    width:240px;
    border: 1px solid $body;
    display:inline-block;

    &:first-child{
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border-right: 0px;
    }

    &:last-child{
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-left:0px;
    }

    h3{
      width: 100%;
      position: relative;
      text-align: center;
      color: $white;
      background-color: $main_dk;
      padding: 20px;
      margin: 0;
    }

    .slotrow{
      padding:10px;
      border: 1px solid $body;


      &.taken{
        background-color:$select;
        color: $select_sub;
        opacity: 0.3;
        cursor: crosshair;

        &:hover{
          background-color: $main;
        }
      }

      &.free{
        cursor:pointer;
        background-color:$white;
        color: $body;
        opacity: 1;
        &:hover{
          background-color: $main;
        }
      }


    }
  }
}