{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="robots" content="all, index, follow" /><!-- ALL ROBOTS -->
        <meta name="googlebot" content="all, index, follow" /><!-- GOOGLE -->
        <meta name="google-site-verification" content="" />
        <meta name="language" content="en-GB" />
        <meta name="robots" content="index,follow" />
        <meta name="revisit-After" content="14 days" />
        <meta name="distribution" content="global" />

        <link rel="canonical" href="https://{{ request.META.HTTP_HOST }}{{ request.path }}"/>

        <!--styles-->
        <link rel="stylesheet" href="{% static 'dist/index.css' %}">
        {% block extra_css %}{% endblock %}

        {% block extra_head %}{% endblock %}
    </head>
    <body id="{% block bodyid %}{% endblock %}" class="{% block bodyclass %}{% endblock %}">
        <div id="sitewrapper">
            {% block header %}{% endblock %}

            <main role="main" id="{% block vueid %}body{% endblock %}">
                {% block content %}{% endblock %}
            </main>

            <script src="{% static 'dist/app.js' %}"></script>
            {% block extra_js %}{% endblock %}
        </div>
    </body>
</html>