{% extends "base.html" %}

{% block title %}Time Slots{% endblock %}

{% block content %}

    <div class="container" id="slotspage" data-grouping="{{ day_grouping }}">
          <div class="row">
              <div class="col-md-offset-3 col-md-6 text-center">
                  <h2>Time Slots</h2>
              </div>
          </div>
          <div class="row">
              <div class="col-md-offset-2 col-md-4">
                  <h4>Select the date to search for delivery</h4>
                   <datepicker :value="date" v-on:selected="setDate"></datepicker>
              </div>
              <div class="col-md-4">
                    <h4>Select the Delivery Type</h4>
                    <deliverytype v-on:selected="deliverySelect"></deliverytype>
              </div>
          </div>
            <div class="row wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                <div class="slotsection">
                    <div class="movement_btn prev" v-on:click="goPrevious"></div>

                     <slotschart v-bind:slots="slots" v-on:slotclick="submitSlot"></slotschart>

                    <div class="movement_btn next" v-on:click="goNext"></div>
                </div>
            </div>
    </div>


{% endblock %}